/* common */
body {
    font-family: 'Mulish', sans-serif;
}

section {
    margin-top: 0;
    margin-bottom: 100px;
}

.title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.des {
    color: rgba(19, 19, 24, 0.70);
    font-size: 15px;
    font-weight: 400;
}

.btn {
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    padding: 15px 35px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

/* header */
header {
    padding: 50px 130px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-part-1 {
    display: flex;
}


.nav-icon {
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
}

nav .title {
    margin-top: 0;
    margin-left: 15px;
    text-align: center;
}

.orange {
    color: #FF5400;
}

nav ul {
    display: inline-flex;
    padding: 10px 0px;
    gap: 44px;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 0 10px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
}

.menu li a {
    text-decoration: none;
    color: #424242;
}

.menu li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

.banner {
    max-width: 1170px;
    margin: 0 auto;
}

.banner-img {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('./images/img1.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-txt {
    color: #FFF;
    text-align: center;
    max-width: 676px;
}

.banner-title {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0;
}

.banner .des {
    color: #FFF;
}

.input {
    margin: 0 130px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 25px;
}

.input input,
select {
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 10px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-family: 'Mulish';
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.banner-btn {
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    padding: 15px;
    background: #FF5400;
    color: #FFF;
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

/* main */
main {
    padding: 0 130px;
}

.tour {
    display: flex;
    justify-content: space-between;
}

.tour-txt {
    max-width: 570px;
}

.tour-txt .title {
    margin-top: 0;
}

.tour-txt .des {
    display: grid;
    gap: 25px;
}

/* destination */

.destination {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destination-txt {
    text-align: center;
    max-width: 643px;
}

.dest-bgi {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 0 25px 25px 0;
}

#dest-bgi-1 {
    background-image: url('./images/img3.png');
}

#dest-bgi-2 {
    background-image: url('./images/img4.png');
}

#dest-bgi-3 {
    background-image: url('./images/img5.png');
}

#dest-bgi-4 {
    background-image: url('./images/img6.png');
}

#dest-bgi-5 {
    background-image: url('./images/img7.png');
}

#dest-bgi-6 {
    background-image: url('./images/img8.png');
}

#dest-bgi-7 {
    background-image: url('./images/img9.png');
}

.dest-bgi-txt {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.why-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-us-txt,
.deal-txt {
    text-align: center;
}

.why-us-block {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.block {
    width: 500px;
    height: 284px;
    border-radius: 16px;
    padding: 30px;
}

.block .title {
    font-size: 25px;
}

#b1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#b2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#b3 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* .deal-bgi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.deal-bgi-1 {
    background-image: url('./images/img10.png');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.deal-bgi-2 {
    background-image: url('./images/img11.png');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    align-items: center;
}

.deal-bgi-block {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 0 30px;
}

#d1 {
    margin-left: 500px;
}

#d2 {
    margin-left: 120px;
}

#d3 {
    margin-left: 500px;
}

.info {
    display: flex;
    gap: 40px;
}

.info0 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infocon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.info-text {
    display: grid;
    gap: -20px;
}

.info-text .title {
    font-size: 25px;
}

#deal-btn {
    margin-left: 500px;
}

.lost {
    display: flex;
    justify-content: space-between;
}

.lost-txt {
    max-width: 500px;
}

.lost-img {
    background-image: url('./images/img12.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 610px;
    height: 424px;
    flex-shrink: 0;
    display: grid;
    justify-content: center;
    align-items: center;
}

.news-block {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.news-block .title {
    font-size: 25px;
}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

form input {
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 20px;
}

form input::placeholder {
    font-size: 15px;
    font-weight: 400;
    margin-left: 15px;
}

.news {
    display: flex;
    justify-content: space-between;
}

.news-btn {
    width: 324px;
    height: 120px;
    border-radius: 16px;
    border: none;
    background: #FF5400;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
}

.news-img {
    width: 672px;
    height: 422px;
    flex-shrink: 0;
    background-image: url('./images/img13.png');
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    justify-content: end;
    align-items: end;
}

.btn-title-1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.btn-title-2 {
    font-size: 32px;
    font-weight: 800px;
    margin-top: 0;
}

footer {
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}

footer .title {
    margin-top: 30px;
    margin-left: 15px;
    text-align: center;
}

footer .des {
    text-align: center;
}

footer img {
    margin-top: 30px;
}

footer hr {
    width: 500px;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 20px;
    }

    .btn {
        border: 0;
        border-radius: 8px;
        background: #FF5400;
        padding: 15px 35px;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        cursor: pointer;
    }

    section {
        margin-top: 0;
        margin-bottom: 25px;
    }

    /* header */
    header {
        padding: 20px;
    }

    nav {
        display: grid;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 0;
        font-size: 15px;
    }

    .menu li a {
        padding: 10px;
        text-decoration: none;
        color: #424242;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    .nav-icon {
        width: 28.724px;
        height: 33.516px;
        flex-shrink: 0;
    }

    nav .title {
        margin-top: 0;
        margin-left: 10px;
        text-align: center;
    }

    nav ul {
        flex-direction: row;
        gap: 20px;
    }

    /* .banner {
        margin: 0 auto;
    } */

    .banner-txt {
        max-width: 304px;
    }

    .banner-img {
        height: 483px;
        flex-shrink: 0;
        border-radius: 10px;
        padding: 30px 25px;
    }

    .banner-title {
        font-size: 22px;
    }

    .input {
        flex-direction: column;
        width: 287px;
        padding: 15px;
        gap: 15px;
        border-radius: 5px;
    }

    .input input,
    select {
        width: 255px;
        height: 52px;
    }

    .banner-btn {
        width: 255px;
        height: 52px;
        border-radius: 5px;
    }

    /* main */
    main {
        padding: 0 20px;
    }

    .tour {
        flex-direction: column;
    }

    .tour-txt {
        max-width: 335px;
    }

    .tour-txt .title {
        margin-top: 0;
    }

    .tour-txt .des {
        display: grid;
        gap: 15px;
        font-size: 12px;
    }

    .tour .btn {
        margin-bottom: 25px;
    }

    .tour-img {
        height: 342px;
        flex-shrink: 0;
    }


    .destination-txt {
        padding: 30px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .dest-bgi {
        width: 100%;
        height: 176px;
        background-position: center;
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        margin-bottom: 15px;
    }

    .why-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .why-us-txt {
        text-align: center;
    }

    .why-us-block {
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
    }

    .block {
        width: auto;
    }

    .deal-bgi-1 {
        width: auto;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        display: grid;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .deal-bgi-2 {
        width: auto;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        display: grid;
        align-items: center;
    }

    .deal-bgi-block {
        width: auto;
        height: 300px;
        border-radius: 10px;
        padding: 15px;
    }

    #d1 {
        margin: 0 auto;
    }

    #d2 {
        margin: 0 auto;
    }

    #d3 {
        margin: 0 auto;
    }

    .info {
        display: flex;
        gap: 10px;
    }

    .infocon {
        width: 23px;
        height: 23px;
        margin-right: 5px;
    }

    #deal-btn {
        display: none;
    }

    .lost {
        flex-direction: column;
    }

    .lost-txt {
        max-width: 300px;
    }

    .lost-img {
        width: auto;
        height: 200px;
        margin-top: 20px;
        border-radius: 10px;
    }

    .news-block {
        width: auto;
        height: 422px;
        padding: 20px;
    }

    form {
        margin-top: 20px;
        display: flex;

    }

    form input {
        padding: 20px;
    }

    form input::placeholder {
        font-size: 15px;
        font-weight: 400;
        margin-left: 15px;
    }

    .news {
        flex-direction: column;
    }

    .news-btn {
        width: 214.023px;
        height: 79.268px;
    }

    .news-img {
        width: auto;
        height: 400px;
        margin-top: 20px;
        border-radius: 15px;
    }

    .btn-title-1 {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .btn-title-2 {
        font-size: 25px;
        margin-top: 0px;
    }

    footer {
        padding: 30px;
    }

    footer hr {
        width: 200px;
    }
}